@font-face {
  font-family: 'Newsreader-Bold';
  src: url('font/Newsreader-Bold.ttf') format('woff');
}

@font-face {
  font-family: 'Newsreader-Regular';
  src: url('font/Newsreader-Regular.ttf') format('woff');
}

body {
  font-family: Newsreader-Regular;
  margin: 20px;
  background-color: #E7D6BE;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-family: Newsreader-Bold;
}

#searchInput{
  width: 350px;
}

#container{
  margin-left: 25px;
}

input {
  margin-bottom: 5px;
  border-radius: 5px;
}

#myTable {
  width: 90vw;
  border-collapse: collapse;
  font-family: Newsreader-Bold;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  overflow: hidden;
}

#myTable th {
  background-color: #442212;
  color: #E7D6BE;
  border: 2px solid #442212;
  padding: 8px;
  text-align: left;
}

#myTable th:hover {
  background-color: #E7D6BE;
  color: #442212;
}

#myTable td {
  font-family: Newsreader-Regular;
  background-color: #E7D6BE;
  border: 2px solid #442212;
  max-width: 120px;
  padding: 8px;
  text-align: left;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
}

#myTable td:nth-child(4),
#myTable th:nth-child(4),
#myTable td:nth-child(3),
#myTable th:nth-child(3) {
  max-width: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}